.footer-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.input-field {
  width: 350px;
}

// Removing background from input field
::ng-deep .mat-mdc-text-field-wrapper {
  background-color: transparent !important;
}
